
<div class="container-fluid">
  <div class=" encabezado">
    <div class="row">
    <div class="col" >
      <img  src="../assets/imagenes/logoarprograma.png"
      class="img-fluid logoprogramar" alt="logoarprograma">
      <img  src="../assets/imagenes/logosministerio.png"
      class="img-fluid logoministerio" alt="logoarprograma">
    </div>
    <div class="col" style="margin-top: 25px;">
      <div class="botones-cabecera">
        <button type="button"
        class="btn btn-warning  me-2 flotanteDerecha">Sign-up</button>
        <button type="button"
        class="btn btn-outline-light  me-2 flotanteDerecha" >Login</button>
      </div>
      <div class="social flotanteDerecha">
        <i class="fa-brands fa-facebook me-1" style="color:rgb(255, 255, 255)"></i>
        <i class="fa-brands fa-github me-1 " style="color:rgb(255, 255, 255)"></i>
        <i class="fa-brands fa-twitter me-4 " style="color:rgb(255, 255, 255)"></i>
      </div>
    </div>

  </div>
  <div class="card acercaDe">
    <img src="../assets/imagenes/fondo.jpg" class="img-fluid banner" alt="banner" />
    <div class="row">
      <div class="col" >
        <div class="fondo-banner">

            <img src="../assets/imagenes/mifoto.jpeg" class="img-fluid foto-usuario" alt="foto usuario" />

        </div>
      <div class="col flotanteDerecha boton-menu">

            <button type="button">Acerca de</button>
            <button type="button">Experiencia</button>
            <button type="button">Educación</button>
            <button type="button">Habilidades</button>
            <button type="button">Proyectos</button>
      </div>
    </div>
    <div class="row">
      <div class="col-3" >
        <div class="nombre">
          Javier Dario Cañete
          <i class="fa-solid fa-pen"></i>
        </div>
        <div class="titulo">
          Full Stack Developer Jr
        </div>
      </div>
      <div class="col">
        <div class="titulo-acercaDe">
          <span style="float:inline-start"><h1>Acerca de </h1></span><span style="float:inline-end">   <i class="fa-solid fa-pen h4"></i></span>

          <p style="float:inline-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed illum possimus sapiente qui rem reprehenderit nesciunt deleniti, doloribus delectus, impedit repudiandae labore molestiae a! Aut voluptatum enim deleniti hic accusantium?</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card experiencia">
    <div>
      <span style="float:inline-start"><h1>Experiencia</h1></span><span style="float:inline-end"><i class="fa-solid fa-circle-plus h2"></i></span>
    </div>
    <div class="row">
      <div class="col-3" >
        <img src="#" class="img-fluid imagen-seccion" />
      </div>
      <div class="col">
        <h3>Empresa 1<a href="#"><i class="fa-solid fa-pen h5 ms-2 me-1"></i></a><a href="#"><i class="fa-solid fa-circle-minus h5"></i></a></h3>
        <p>Periodo</p>
        <p>puesto</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tempore molestias architecto placeat magni amet. Odit quisquam mollitia quod voluptatum illo quaerat voluptate debitis consequuntur. Voluptatibus et nesciunt illo facere.</p>
      </div>

    </div>
    <div class="row">
      <div class="col-3" >
        <img src="#" class="img-fluid imagen-seccion" />
      </div>
      <div class="col">
        <h3>Empresa 2<i class="fa-solid fa-pen h5 ms-2 me-1"></i><i class="fa-solid fa-circle-minus h5"></i></h3>
        <p>Periodo</p>
        <p>Puesto</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tempore molestias architecto placeat magni amet. Odit quisquam mollitia quod voluptatum illo quaerat voluptate debitis consequuntur. Voluptatibus et nesciunt illo facere.</p>
      </div>

    </div>
    <div class="row">
      <div class="col-3" >
        <img src="#" class="img-fluid imagen-seccion" />
      </div>
      <div class="col">
        <h3>Empresa 3<i class="fa-solid fa-pen h5 ms-2 me-1"></i><i class="fa-solid fa-circle-minus h5"></i></h3>
        <p>Periodo</p>
        <p>Puesto</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tempore molestias architecto placeat magni amet. Odit quisquam mollitia quod voluptatum illo quaerat voluptate debitis consequuntur. Voluptatibus et nesciunt illo facere.</p>
      </div>

    </div>
  </div>
  <div class="card educacion">

    <div>
      <span style="float:inline-start"><h1>Educación</h1></span><span style="float:inline-end"><i class="fa-solid fa-circle-plus h2"></i></span>
    </div>
    <div class="row">
      <div class="col-3" >
        <img src="#" class="img-fluid imagen-seccion" />
      </div>
      <div class="col">
        <h3>Escuela 1<i class="fa-solid fa-pen h5 ms-2 me-1"></i><i class="fa-solid fa-circle-minus h5"></i></h3>
        <p>Titulo o Nombre de la carrera</p>
        <p>Periodo</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tempore molestias architecto placeat magni amet. Odit quisquam mollitia quod voluptatum illo quaerat voluptate debitis consequuntur. Voluptatibus et nesciunt illo facere.</p>
      </div>

    </div>
    <div class="row">
      <div class="col-3" >
        <img src="#" class="img-fluid imagen-seccion" />
      </div>
      <div class="col">
        <h3>Escuela 2<i class="fa-solid fa-pen h5 ms-2 me-1"></i><i class="fa-solid fa-circle-minus h5"></i></h3>
        <p>Titulo o Nombre de la carrera</p>
        <p>Periodo</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tempore molestias architecto placeat magni amet. Odit quisquam mollitia quod voluptatum illo quaerat voluptate debitis consequuntur. Voluptatibus et nesciunt illo facere.</p>
      </div>

    </div>
    <div class="row">
      <div class="col-3" >
        <img src="#" class="img-fluid imagen-seccion" />
      </div>
      <div class="col">
        <h3>Escuela 3<i class="fa-solid fa-pen h5 ms-2 me-1"></i><i class="fa-solid fa-circle-minus h5"></i></h3>
        <p>Titulo o Nombre de la carrera</p>
        <p>Periodo</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tempore molestias architecto placeat magni amet. Odit quisquam mollitia quod voluptatum illo quaerat voluptate debitis consequuntur. Voluptatibus et nesciunt illo facere.</p>
      </div>

    </div>
  </div>

  <div class="card habilidades">
    <div>
      <span style="float:inline-start"><h1>Habilidades</h1></span><span style="float:inline-end"><i class="fa-solid fa-circle-plus h2"></i></span>
    </div>
    <div class="row">
      <div class="progreso">
        <div style="float:left">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [title]="'HTML'"
        [titleFontSize]="'1.5em'"
        [subtitle]="'85%'"
        [subtitleFontSize]="'1em'"
        [titleColor]="'#78C000'"
        [percent]="90"
        [showUnits]="false"
        [showSubtitle]="true"

        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
        <p style="margin-top:-50px; margin-left:160px"> <i class="fa-solid fa-pen h5  me-1"></i><i class="fa-solid fa-circle-minus h5"></i></p>
      </div>
      <div style="float:left">
        <circle-progress
        [percent]="90"
        [radius]="80"
        [title]="'Java Script'"
        [titleFontSize]="'1.5em'"
        [subtitle]="'90%'"
        [subtitleFontSize]="'1em'"
        [titleColor]="'#78C000'"
        [percent]="90"
        [showUnits]="false"
        [showSubtitle]="true"

        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
        <p style="margin-top:-50px; margin-left:160px"> <i class="fa-solid fa-pen h5  me-1"></i><i class="fa-solid fa-circle-minus h5"></i></p>
      </div>
      <div style="float:left">
        <circle-progress
        [percent]="90"
        [radius]="80"
        [title]="'Bootstrap'"
        [titleFontSize]="'1.5em'"
        [subtitle]="'90%'"
        [subtitleFontSize]="'1em'"
        [titleColor]="'#78C000'"
        [percent]="90"
        [showUnits]="false"
        [showSubtitle]="true"

        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
        <p style="margin-top:-50px; margin-left:160px"> <i class="fa-solid fa-pen h5  me-1"></i><i class="fa-solid fa-circle-minus h5"></i></p>
      </div>
      <div style="float:left">
        <circle-progress
        [percent]="90"
        [radius]="80"
        [title]="'Angular'"
        [titleFontSize]="'1.5em'"
        [subtitle]="'90%'"
        [subtitleFontSize]="'1em'"
        [titleColor]="'#78C000'"
        [percent]="90"
        [showUnits]="false"
        [showSubtitle]="true"

        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
        <p style="margin-top:-50px; margin-left:160px"> <i class="fa-solid fa-pen h5  me-1"></i><i class="fa-solid fa-circle-minus h5"></i></p>
      </div>
      <div style="float:left">
        <circle-progress
        [percent]="90"
        [radius]="80"
        [title]="'Sprint boot'"
        [titleFontSize]="'1.5em'"
        [subtitle]="'90%'"
        [subtitleFontSize]="'1em'"
        [titleColor]="'#78C000'"
        [percent]="90"
        [showUnits]="false"
        [showSubtitle]="true"

        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
        <p style="margin-top:-50px; margin-left:160px"> <i class="fa-solid fa-pen h5  me-1"></i><i class="fa-solid fa-circle-minus h5"></i></p>
    </div>
  </div>
  <div class="card proyectos">
    <div>
      <span style="float:inline-start"><h1>Proyectos</h1></span><span style="float:inline-end"><i class="fa-solid fa-circle-plus h1"></i></span>
    </div>
    <div class="row">
      <div class="col-3" >
        <a href="#"><img src="#" class="img-fluid imagen-seccion" /></a>
      </div>
      <div class="col">
        <h3>Proyecto 1<i class="fa-solid fa-pen h5 ms-2 me-1"></i><i class="fa-solid fa-circle-minus h5"></i></h3>
        <p>Periodo</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tempore molestias architecto placeat magni amet. Odit quisquam mollitia quod voluptatum illo quaerat voluptate debitis consequuntur. Voluptatibus et nesciunt illo facere.</p>
      </div>

    </div>
    <div class="row">
      <div class="col-3" >
        <a href="#"><img src="#" class="img-fluid imagen-seccion" /></a>
      </div>
      <div class="col">
        <h3>Proyecto 2<i class="fa-solid fa-pen h5 ms-2 me-1"></i><i class="fa-solid fa-circle-minus h5"></i></h3>
        <p>Periodo</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tempore molestias architecto placeat magni amet. Odit quisquam mollitia quod voluptatum illo quaerat voluptate debitis consequuntur. Voluptatibus et nesciunt illo facere.</p>
      </div>

    </div>
    <div class="row">
      <div class="col-3" >
        <a href="#"><img src="#" class="img-fluid imagen-seccion" /></a>
      </div>
      <div class="col">
        <h3>Proyecto 3<i class="fa-solid fa-pen h5 ms-2 me-1"></i><i class="fa-solid fa-circle-minus h5"></i></h3>
        <p>Periodo</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tempore molestias architecto placeat magni amet. Odit quisquam mollitia quod voluptatum illo quaerat voluptate debitis consequuntur. Voluptatibus et nesciunt illo facere.</p>
      </div>

    </div>
  </div>
</div>







